.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}

div{
    border:1px solid silver;
    padding: 10px 10px; 
  }

.row{
    margin-bottom: 14px; 
}

.container{
    background-color: rgb(147, 147, 182); 
}

/* #apod_img_id {
    align-content: center;
} */